# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [1]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [2]:
# Load data here
df = pd.read_csv('data/listings.csv', sep=',')
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46522,44807522,Designer Gramercy Studio Townhouse by UNSQ,12941925,Brian,Manhattan,Gramercy,40.73433,-73.98383,Entire home/apt,145,7,0,NaN,NaN,1,164
46523,44807786,Cozy & comfy apt in the heart of Inwood Manhattan,284790520,Salar,Manhattan,Washington Heights,40.85820,-73.92733,Entire home/apt,87,6,0,NaN,NaN,2,85
46524,44811717,Comfortable safe environment 24hr security camera,362453686,Nicole,Brooklyn,East Flatbush,40.65399,-73.93287,Private room,59,3,0,NaN,NaN,1,90
46525,44814944,Upper West Side studio 86th Street,4039777,Fernando,Manhattan,Upper West Side,40.78731,-73.97029,Entire home/apt,80,30,0,NaN,NaN,1,113
46526,44818009,"5MIN D/N trains, NEAR THE BEACH, 50’ TO MANHATTAN",48098268,Marina,Brooklyn,Gravesend,40.59945,-73.98209,Private room,66,1,0,NaN,NaN,1,38

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [11]:
# 1. How many listings are there with a price less than 100? 

22,778

# How I figured it out
# df['less_than_100'] = df['price'] < 100 - Created a new boolean column that says True if a listing's price is below 100
# df['less_than_100'].value_counts() - Used value counts to count the amount of true values

In [12]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.

18,632

# How I figured it out
# cond_1 = df['neighbourhood_group'] == 'Brooklyn' - Filter out Brooklyn neighborhoods by creating a condition
# df['Brooklyn_Listings'] = cond_1 - Create a column based on the condition made above
# df['Brooklyn_Listings'].value_counts() - Used value counts to count the amount of true values

In [13]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.

10,473

# How I figured it out 
#cond_1 = df['neighbourhood_group'] == 'Brooklyn' - Same as above except I made two conditions 
#cond_2 = df['price'] < 100
#df['Brooklyn_Listings_<_100'] = cond_1 & cond_2
#df['Brooklyn_Listings_<_100'].value_counts()

In [14]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.

1,258

# How I figured it out
#list_of_host_names = ['Michael', 'David', 'John', 'Daniel'] - Created a list of the host names I am looking for
#cond = df.host_name.isin(list_of_host_names) - Created a condition looking for the list of names in host_name column
#df['MDJD_isin'] = cond - Created the column in df based on the condition
#df['MDJD_isin'].value_counts() - Use value counts to find the amount of true

In [15]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before.

In [16]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  

% of private = 45.446%
% of shared = 2.1213%

# How I Figured It Out
#dfp = df.room_type.value_counts() / df.room_type.value_counts().sum() - Find each % of the room types
#dfp - Visualize the percentages

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [17]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

Bronx - 1,183
Brooklyn - 18,632
Manhattan - 20,580
Queens - 5,791
Staten Island - 341 

# How I Figured it out
# df.groupby('neighbourhood_group')['neighbourhood_group'].value_counts()

In [18]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 

Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214

# How I Figured it out
# df.groupby('neighbourhood_group')['price'].mean()

In [19]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 

MIN
Bronx - 16
Brooklyn - 0
Manhattan - 0
Queens - 0
Staten Island - 19

MAX
Bronx - 1,404 
Brooklyn - 10,000
Manhattan - 10,000 
Queens - 10,000
Staten Island - 1,200

# How I Figured it out
# df.groupby('neighbourhood_group')['price'].agg(['max'])
# df.groupby('neighbourhood_group')['price'].agg(['min'])

In [20]:
# 4. Using `groupby`, find the mean price for each room type in each neighbourhood_group.

Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830

# How I Figured it out

# df.groupby('room_type')['price'].mean()

In [21]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.

COUNT
Bronx
Entire home/apt	415
Private room	722
Shared room	46

Brooklyn
Entire home/apt	9112
Hotel room	30
Private room	9159
Shared room	331

Manhattan
Entire home/apt	12209
Hotel room	351
Private room	7601
Shared room	419

Queens
Entire home/apt	2090
Hotel room	17
Private room	3499
Shared room	185

Staten Island
Entire home/apt	172
Private room	163
Shared room	6

MIN
Bronx
Entire home/apt	25
Private room	16
Shared room	20

Brooklyn
Entire home/apt	20
Hotel room	0
Private room	10
Shared room	15

Manhattan
Entire home/apt	0
Hotel room	0
Private room	10
Shared room	10

Queens
Entire home/apt	10
Hotel room	0
Private room	18
Shared room	14

Staten Island
Entire home/apt	39
Private room	20
Shared room	19



MAX
Bronx
Entire home/apt	1404
Private room	700
Shared room	800

Brooklyn
Entire home/apt	10000
Hotel room	399
Private room	2500
Shared room	1500

Manhattan
Entire home/apt	10000
Hotel room	2211
Private room	10000
Shared room	10000

Queens
Entire home/apt	10000
Hotel room	249
Private room	9000
Shared room	3000

Staten Island
Entire home/apt	1200
Private room	800
Shared room	82



MEAN
Bronx
Entire home/apt	138.004819
Private room	68.419668
Shared room	66.391304

Brooklyn
Entire home/apt	171.587687
Hotel room	147.300000
Private room	71.291189
Shared room	57.870091

Manhattan
Entire home/apt	231.335572
Hotel room	292.515670
Private room	128.277069
Shared room	111.735084

Queens
Entire home/apt	150.168900
Hotel room	139.058824
Private room	69.972564
Shared room	89.891892

Staten Island
Entire home/apt	151.720930
Private room	70.312883
Shared room	46.000000



MEDIAN
Bronx
Entire home/apt	103
Private room	55
Shared room	44

Brooklyn
Entire home/apt	135
Hotel room	129
Private room	60
Shared room	36

Manhattan
Entire home/apt	165
Hotel room	210
Private room	80
Shared room	60

Queens
Entire home/apt	115
Hotel room	149
Private room	55
Shared room	40

Staten Island
Entire home/apt	111
Private room	55
Shared room	38



STD
Bronx
Entire home/apt	126.032106
Private room	57.337866
Shared room	114.442703

Brooklyn
Entire home/apt	236.732843
Hotel room	91.153206
Private room	69.023165
Shared room	92.217618

Manhattan
Entire home/apt	410.306439
Hotel room	315.924085
Private room	448.677306
Shared room	502.728868

Queens
Entire home/apt	252.606739
Hotel room	50.743806
Private room	163.814468
Shared room	275.675158

Staten Island
Entire home/apt	147.518392
Private room	70.759593
Shared room	28.446441

# Join and file saving.
1. Load the `prices.csv` and the `n_listings.csv`


2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']
       
       
3. Save your joined csv as `joined.csv`


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [22]:
# 1. Load the `prices.csv` and the `n_listings.csv`

df = pd.read_csv('data/prices.csv', sep=',')
df1 = pd.read_csv('data/n_listings.csv', sep=',')

In [23]:
# 2. Do join that keeps all the records for each table.

df1 = pd.read_csv('data/prices.csv', sep=',')
df2 = pd.read_csv('data/n_listings.csv', sep=';')

dfjoined = pd.merge(df1, df2, on='neighbourhood_group', how='outer')
dfjoined

In [ ]:
# 3. Save your joined csv as joined.csv

save_as = 'dfjoined.csv'

dfjoined.to_csv(save_as, index=False)

In [ ]:
# 4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

Yes, it just looks like the two dataframes combined

# Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

In [24]:
#  1. Who was won Album of the Year in 2016?

Taylor Swift, 1989

# How I figured it out
df_grammy = pd.read_csv('data/grammys.csv', sep=',')

cond_1 = df_grammy['year'] == 2016
cond_2 = df_grammy['category'] == "Album of the Year" # Created 3 conditions to find the winner 
cond_3 = df_grammy['winner'] == True

df_grammy[cond_1 & cond_2 & cond_3]

In [25]:
# 2. Who won Best Rap Album in 2009?

Lil Wayne, Tha Carter III

# How I figured it out
df_grammy = pd.read_csv('data/grammys.csv', sep=',')

cond_1 = df_grammy['year'] == 2009
cond_2 = df_grammy['category'] == "Best Rap Album" # Same as ^^^^
cond_3 = df_grammy['winner'] == True

df_grammy[cond_1 & cond_2 & cond_3]

In [26]:
# 3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

6, won 4

# How I Figured it out

df_grammy = pd.read_csv('data/grammys.csv', sep=',')
cond = df_grammy['workers'] == "Kendrick Lamar"
df_grammy[cond]